.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
}


.year-input {
    max-width: 100px;
    display: inline-block;
}

.ner-tag {
    font-size: 16px;
    line-height: 1.2;
    display: inline-flex;
    align-items: center;
    padding: 6px 7px;
    border-radius: 4px;
    color: black;
    margin: 2px;
}

.ner-category {
    font-size: 10px;
    text-transform: uppercase;
    margin-left: 6px;
    color: grey;
    font-weight: bold;
}

.ner-text {
    font-weight: normal;
}

.card-hover {
    cursor: pointer; 
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    text-align: center; 
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.card-hover:hover {
    background-color: #e0e0e0 !important;  /* Slightly darker gray */
    transform: scale(1.02); /* Slight zoom effect */
}

.box-link {
    display: block;
    text-decoration: none !important;
    color: black;
}

.label-text {
    color: grey;
    padding: 0 !important;
    margin: 0;
    border: none;

}

.label-description {
    font-size: 0.85em;
    color: #555;
    padding-left: 1em;
}

.label-text .accordion-button {
    padding: 0.2rem 0.5rem !important;  /* overrides Bootstrap default */
}